body {
    background: radial-gradient(circle at center,#008000, #004000);
}

#action-container {
    height: 75px;
    background-color: rgb(128, 128, 128, 0.5);
    margin-bottom: 10px;
}

#action-text span {
    color: white;
}

.area {
    height: 70vh;
}

.deck {
    width: 120px;
    height: 170px;
    display: flex;
    justify-content: center;
}

.card {
    width: 120px;
    height: 170px;
    border-radius: 8px;
    display: flex;
    position: absolute;
    transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
    background-size: cover;
}

.card.hidden {
    opacity: 0;
}

.face-down {
    transform: rotateY(-180deg);
    background-image: url("images/back_of_card.png")!important;
    background-position: center;
    background-size: cover;
}

.card-face-up {
    transform: rotateY(0deg);
}


.buttons button {
    font-size: 24px;
    height: 100px;
    transition: ease 0.5s;
}

.buttons button:hover {
    height: 150px;
    transition: ease 0.5s;
}
